/*style*/
.image-discription{
	background-color: #00FFFF;
	float: left;
	border-radius: 10px;
}

.clear{
	clear: both;
}
.TopBg{
background-color: #DBBBE7;
 border-radius: 10px; 
padding-bottom: 5px;
margin-top:10px;
}

.image{
padding-top: 15px;
padding-bottom: 15px;
	
}
.contentpadd{
	padding: 10px;
}