/*style*/
.maindiv{
 margin: 20px;
}

.image-discription{
	background-color: #00FFFF;
	float: left;
	border-radius: 10px;
	padding: 10px;
}

.clear{
	clear: both;
}
.TopBg{
background-color: #DBBBE7;
 border-radius: 10px; 
padding-bottom: 5px;
}

.image{
text-align: center;
}


.contentpadd{
	font-family: "Times New Roman",Times , serif;
	 font-size: 25px;
}

 
