/*style*/
#header{
background-color:#FFEF6E;

font-family: "Times New Roman",Times , serif;
}
#header h1{
	padding: 10px;
	
}
#maincontent{
background-color:#9CD9FF;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
 width: 50%;
 margin: auto;
  }

.headermenu ul{
list-style-type: none;
}
  .headermenu li a{
	  
	  text-decoration: none;
  }
  
.headermenu li{
	
display: inline;
font-size: 20px;
padding: 10px 20px;
font-family: "Times New Roman",Times , serif;
}
#footer{
background-color:#FFEF6E;
}
.copyrighttext{
	font-family: "Times New Roman",Times , serif;
	padding: 10px 20px;
}